html{
    font-family: 'Sarabun', sans-serif;
    color: rgb(83, 79, 79);
}

p,li{
    font-size: 17px;
}

p,h1,h2,h3{
    letter-spacing: .3px;
}

h2{
    font-size: 26px;

}









header{
    background-color: rgba(255, 255, 255, 0.956);
    position: fixed;
    top: 0px;
    left: 0%;
    display: inline-flex;
    width: 100%;
    height: 64px;
    align-items:center;
    justify-content: flex-end;
}
#logo{
    font-size: 13px;
    font-weight: 500;
    height: 32px;
    display: inline-flex;
    align-items: center;
    position: absolute;
    left: 24px;
}
#logo h1{
    height: 32px;
    text-align: center;
    align-items: center;
}
#logo img{
    margin-top: 3px;

}

#logo span{
    font-weight: 300;
    color:rgb(168, 160, 160);
}
nav{
    margin-right: 24px;
}

nav ul{
    list-style: none;
    display: inline-flex;
}
nav ul li{
    margin-left: 16px;
}

#mobile{
    display: none;
}

a{
    text-decoration: none;
    color: rgb(83, 79, 79);
}










body{
    background-color: rgb(226, 224, 224);
    margin-left: 0px;
}








#learn{
    
    display: inline-flex;
    margin-top: 66px;
    padding: 32px 24px 32px 24px;
}

#learn img{
 width: 60%;
 margin-right: 24px;
 justify-content: stretch;
}

#banner{
    display: inline-flex;
    flex-direction: column;
    justify-content:center;
    font-size: 2.5rem;
    width: 40%;
}

#banner h2{
    font-weight: 500;
    font-size: 2rem;
}

#banner p{
    text-align: center;
    color:white;
    background-color: gray;
    padding-top: 8px;
    padding-bottom: 8px;
}







#informations{
    
    display: inline-flex;  
    margin-left: 0px; 
    padding-left: 1.5rem;
    background-color: whitesmoke;
}
#latin{
    display:inline-flex;
    flex-direction: column;
    justify-content: stretch;
    padding-right: 24px;
    padding-top:32px;
    padding-bottom: 32px;
    margin-top: 2px;
    width:60%;
    height: 100%;
    box-sizing: border-box;
}
#latin div{
    display: inline-flex;
    flex-direction: column;
    height: 100%;
}
#latin img{
    width: 100%;
    box-sizing: border-box;
}

#latin h1{
    font-size: 3rem;
    font-weight:bolder;
    padding-top: 32px;
    
}
#latin h2{
    font-weight: normal;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    font-size: 20px;
    
}
#latin p{
    font-weight: bold;
    margin-bottom: 0px;
}
    

#informationsss{
    display: inline-flex;
    flex-direction: column;
    width: 40%;
    align-content: stretch;
    box-sizing: border-box;
    align-items: stretch;
    padding-top: 32px;
    padding-bottom: 32px;
    border-left: 2px gainsboro solid;
    margin-top: 2px;
}
.INFOS{
    display: inline-flex;
    align-items: center;
    height: 100%;
    margin-left:2px;
    margin-right: 2px;

    
}
#informationsss img{
    width: 35%;
    height: auto;
    padding: 16px 0 16px 16px;

}
.info{
    width: 65%;
    padding-left: 24px;
    
}
.info h1{
    font-weight:500;
    font-size: 32px;
}
.info h2{
    font-size: 16px;
    font-weight: normal;
}
.info h3{
    color:rgb(0, 195, 255);
    font-size: 1rem;
    font-weight: normal;
}
#OurGuest{
    background-color: gainsboro;
    margin-top: 5px;
}
#Orientation{
    padding-top: 0px;
    border-bottom: 2px gainsboro solid;
}
#Orientation img{
    padding-top: 0px;
}
#OurCampus{
    border-top: 2px gainsboro solid;
    border-bottom: 2px gainsboro solid ;
    margin-top: 3px;
}





#StartLearning { 
    
    padding: 32px 40px 32px 72px;
    justify-content: stretch;
    box-sizing: border-box;
 
}

.sl{
text-align: center;
box-sizing: content-box;
margin-bottom: 32px;
margin-top: 0px;
}

#sixpacks{
    display: inline-flex;
    justify-content: center;
    flex-flow:wrap;
}
.packs{
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  padding-right: 32px;
  padding-bottom: 32px;

}


.packs img{
    height: auto;
}

.smpk{
    text-align: left;
    background-color: white;
    height: 100%;
    padding: 16px 0px 24px 16px;
}

.smpk h1{
    font-weight: 600;
    font-size: 36px;
    
}
.smpk h2{
    margin-top: 8px;
    margin-bottom: 8px;
}
.smpk h3{
    font-size: 20px;
    font-weight: lighter;
}









#Thesis{
    padding: 32px 16px 32px 24px ;
    background-color:white;
    box-sizing: border-box;
    border-bottom: 2px gainsboro solid;
}
#companies{
    display: inline-flex;
    box-sizing: border-box;
    width: 100%;
    
}
#comp{
    display: inline-flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-right: 24px;
    width: 60%;
}



#companies2{
    display: inline-flex;
    flex-direction: column;
    background-color: white;
    width: 40%;
    box-sizing: border-box;
}
.picbott{
    display: inline-flex;
    padding: 16px 16px 16px 16px;
    width: 100%;
    box-sizing: border-box;
    margin-right: 2px;
}

.picbott img{
    width: 35%;
    height: auto;
}

.picbottbx{
     width: 65%;
     padding-left: 16px;
}

#grey{
    background-color: gainsboro;
}



footer{
    background-color: ghostwhite;
    font-size: 12px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    width: 100%;
    
}

footer p{
    position: absolute;
    left: 24px;
}

footer ul{
     display: inline-flex;
     list-style: none;
}

footer ul li{
    padding-left: 16px;
    margin-right: 16px;
}






@media only screen and (max-width: 800px) { 
   h1{
       font-size: 40px;
       font-weight: 700;
   }
   
   
    #logo h1{
        display: none;
    }
    #learn{
        flex-direction: column;
        padding: 0px;
        box-sizing: border-box;
        
       }
    #learn img{
           width: 100%;
    }
    #banner{
        padding:32px 0px 32px 16px;
        width: 100%;
        box-sizing: border-box;
    }




    #latin{
        display: none;
    }


    #informationsss{
        width: 100%;
        padding:0px;
    
    }
    .info{
        display: inline-flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        align-items: center;
    }
    .info h2{
        text-align: center;
    }
    .info h3{
        text-align: center;
    }

    #OurGuest{
        background-color: white;
        border-top: 2px gainsboro solid;
        border-bottom:2px gainsboro solid;
    }


    .INFOS{
        flex-direction: column;
        padding-left: 16px;
        padding-right: 16px;
        justify-content: center;
    }

    #informations {
        width: 100%;
        padding: 0px;
        
    }

    #informationsss img{
     width: 100%;
     padding: 16px 0px 0px 0px;
    }
    #StartLearning{
        
    padding: 32px 40px 32px 32px;}

    #Thesis{
     padding: 32px 0px 24px 0px;
    }

    #companies2{
        display: none;
    }
    #companies{
        width: 100%;
    }
    #comp{
        width: 100%;
        padding: 0px;
    }
    #comp h1, #comp p{
        display: none;
    }
    footer p {
        position: relative;
    }
    footer {
        
        justify-content: center;
    }
    footer ul{
        display: none;
    }

}


@media only screen and (max-width: 480px) { 
   
   a{
       color: rgb(22, 21, 21);
   }
   
    #mobile{
        display:inline-flex;
        color: black;
        justify-content: space-around;
        width: 100%;
    }

    #fscreen, #logo h1 {
        display: none;
    }
    
    nav {
        width: 100%;  
    }
    header {
        justify-content: space-evenly; 
        background-color: white; 
    }
    #logo{
        position: relative;

    }   
 

    h1{
        font-size: 40px;
        font-weight: 700;
    }
    .packs img, .smpk h2, .smpk h3{
     display: none;
    }  

    #StartLearning{
        background-color: white;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 32px;
        padding-bottom: 32px;
    }
    #sixpacks{
        padding: 0px;
        background-color: ghostwhite;
    }
    .packs{
        width: 100%;
        background-color: gainsboro;
        margin-top: 8px;
        padding:16px 16px 24px 16px ;
    }
    .smpk{
        background-color: gainsboro;
        padding:0px;
    }
    .smpk h1{
        font-size: 28px;
        margin: 0px;
        text-align: center;
    }
}